.optionsButton {
  background: var(--black300);
  border: none;
}

.optionsList {
  position: absolute;
  background-color: var(--black400);
  border-radius: 10px;
  border: none;
  width: 144px;
  display: flex;
  flex-direction: column;
  transform: translate(-130px);


  .list {
    background-color: transparent;
    color: var(--white);
    height: 40px;
    border: 1px solid var(--gray200);

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  opacity: 0.8;
  z-index: 10;
}
.errorModal{
  width: 496px;
  height: 186px;
  position: absolute;
  background-color: var(--black100);
  padding: 24px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20;

  .errorHeader {
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    gap: 24px;
    .backHeader{
      width: 448px;
      height: 58px;
      p {
        gap: 40px;
        font: var(--text);
        color: var(--white);
        text-align: center;
      }
    }
   
  }
}
.errorText{
  color: var(--redError);
  font-size: 12px;
  margin-top: 5px;
}
.passwordModal {
  width: 496px;
  height: 269px;
  position: absolute;
  background-color: var(--black100);
  display: flex;
  justify-content: center;
  border-radius: 16px;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 20;

  .container {
    width: 448px;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .header {
      height: 32px;
      display: flex;
      justify-content: space-between;
      gap: 24px;

      .title {
        font: var(--textXlM);
        color: var(--white);
        padding: 0;
        white-space: nowrap; 
      }
    }

      .deleteBtn , .editBtn{
        width: 194px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        border-radius: 50px;
        background-color: var(--brandOrange);
        color: var(--white);
        font: var(--text);
        border: none;
        padding: 13px 48px;
        
        &:active {
          background-color: var(--gray500);
        }
      }

    .passwordBox {
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;

      .textHeader{
        margin: 0;
        font: var(--textL);
        color: var(--white);
        text-align: left;
        margin-bottom: 12px;
      }

      input {
        width: 100%;
        height: 48px;
        padding: 0 16px;
        font: var(--textM);
        background-color: transparent;
        border: 1px solid var(--gray200);
        border-radius: 10px;
        color: var(--white);

        &::placeholder {
          color: var(--gray200);
          font: var(--textM);
        }
      }
      .inputError {
        border-color: var(--redError);
      }

      .passwordWrapper {
        position: relative;
        .eyeButton {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-40%);
          background: transparent;
          border: none;
          cursor: pointer;
        }
        
        .eyeIcon {
          width: 20px;
          height: 20px;
        }
      }
      .actionBox{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
    }
  }
}


@media (max-width: 744px) {
  .deleteModal  ,.editModal{
    width: 343px;
    height: 225px;
    position: absolute;
    background-color: var(--black100);
    display: flex;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    padding: 16px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 20;

    .container {
      width: 331px;
      height: 193px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .deleteHeader, .editHeader {
        height: 24px;
        display: flex;
        justify-content: space-between;
        gap: 24px;

        .ptage {
          font: var(--textB);
          color: var(--white);
          padding: 0;
          white-space: nowrap;
        }
      }

      .deleteBtn, .editBtn {
        width: 135px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        border-radius: 50px;
        background-color: var(--brandOrange);
        color: var(--white);
        font: var(--textSSb);
        border: none;
        padding: 13px 48px;

        &:active {
          background-color: var(--gray500);
        }
      }

      .passwordBox {
        height: 153px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        p {
          margin: 0;
          font: var(--textSB);
          color: var(--white);
          text-align: left;
          margin-bottom: 12px;
        }

        input {
          width: 100%;
          height: 48px;
          padding: 0 16px;
          font: var(--textXs);
          background-color: transparent;
          border: 1px solid var(--gray200);
          border-radius: 10px;
          color: var(--white);

          &::placeholder {
            color: var(--gray200);
            font: var(--textM);
          }
        }
        .passwordWrapper {
          position: relative;
          .eyeButton {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-40%);
            background: transparent;
            border: none;
            cursor: pointer;
          }

          .eyeIcon {
            width: 20px;
            height: 20px;
          }
        }
        .deleteBox, .editBox {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .errorModal {
    width: 343px;
    height: 161px;
    position: absolute;
    background-color: var(--black100);
    padding: 16px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 20;

    .errorHeader{
      width: 331px;
      height: 129px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 10px;

      gap: 24px;
      .backHeader {
        width: 331px;
        height: 58px;
        p {
          gap: 40px;
          font: var(--textS);
          color: var(--white);
          text-align: center;
        }
        .backBtn {
          width: 331px;
        }
      }
    }
  }
}
