:root {
  /* 색상 설정 */
  --black400: #131313;
  --black300: #212121;
  --black200: #282828;
  --black100: #2e2e2e;
  --gray400: #333333;
  --gray300: #4b4b4b;
  --gray200: #747474;
  --gray100: #d8d8d8;
  --brandOrange: #eb5230;
  --redError: #c41013;
  --white: #ffffff;

  /* 글씨 설정 */
  --textXlB: 700 1.25rem/1 "Pretendard";
  --textXlSb: 600 1.25rem/1 "Pretendard";
  --textXlM: 500 1.25rem/1 "Pretendard";
  --textLB: 700 1.125rem/1 "Pretendard";
  --textLSb: 600 1.125rem/1 "Pretendard";
  --textLM: 500 1.125rem/1 "Pretendard";
  --textL: 400 1.125rem/1 "Pretendard";
  --textB: 700 1rem/1 "Pretendard";
  --textSb: 600 1rem/1 "Pretendard";
  --textM: 500 1rem/1 "Pretendard";
  --text: 400 1rem/1 "Pretendard";
  --textSB: 700 0.875rem/1 "Pretendard";
  --textSSb: 600 0.875rem/1 "Pretendard";
  --textSM: 500 0.875rem/1 "Pretendard";
  --textS: 400 0.875rem/1 "Pretendard";
  --textXsB: 700 0.75rem/1 "Pretendard";
  --textXsM: 500 0.75rem/1 "Pretendard";
  --textXs: 400 0.75rem/1 "Pretendard";
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--black400);
  font: var(--text) !important;
  color: var(--white);
}