.page {
  width: 1200px;
  margin: 0 auto;
  .headerText {
    font: var(--textXlB);
    line-height: 100%;
    color: var(--white);
    padding: 12px 0;
  }
}
.pageHeader {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.pageHeader2 {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.headerComponents {
  display: flex;
  gap: 1rem;
}
.pagePagination {
  margin-bottom: 20px;
}
/* tablet */
@media (max-width: 1199px) {
  .page {
    width: 700px;
  }
  .Search {
    width: 269px;
    height: 46px;

    input {
      font-size: 14px;
      padding-top: 15px;
    }
  }
}

/* Mobile */
@media (max-width: 744px) {
  .page {
    width: 350px;
  }
  .pageHeader {
    flex-direction: column;

    h1 {
      font: var(--textB);
    }
  }
  .Search {
    width: 189px;
    input {
      padding-top: 10.5px;
    }
  }
}
