.wrapper {
  margin: 0 auto;
  width: 1200px;
  .titleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 149px;
      height: 40px;
      padding: 8px 24px;
      border-radius: 50px;
      margin-bottom: 16px;
      margin-top: 80px;
    }
    .reCompareBtn {
      button {
        width: 167px;
      }
    }
  }
  .sectionTitle {
    font: var(--textXlB);
    color: var(--white);
    margin-bottom: 16px;
    margin-top: 80px;
  }
  .myCard {
    background-color: var(--black300) !important;
  }
  .outerBox {
    width: 1200px;
    height: 300px;
    border-radius: 4px;
    border: 1px dashed var(--black300);

    margin-bottom: 24px;
  }
  .selectBox {
    width: 1168px;
    height: 268px;
    border-radius: 4px;
    background-color: var(--black300);
    align-items: center;
    margin: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selectedBox {
    position: relative;

    width: 1200px;
    height: 300px;
    border-radius: 4px;
    background-color: var(--black300);
    align-items: center;
    // margin: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cancelBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    font: var(--text);
    text-align: right;
    color: var(--gray100);
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline solid;
    }
  }
  .plusImgBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--black300);
    gap: 16px;
    border: none;
  }
  .plusTxt {
    font: var(--textLM);
    color: var(--white);
  }

  //테블릿용
  @media (max-width: 1199px) {
    width: 696px;
    .titleSection {
      button {
        margin-top: 40px;
      }
    }
    .sectionTitle {
      margin-top: 40px;
    }
    .outerBox {
      width: 696px;
      height: 240px;
    }
    .selectBox {
      width: 664px;
      height: 208px;
    }
    .selectedBox {
      width: 696px;
      height: 240px;
    }
  }

  //모바일용
  @media (max-width: 744px) {
    width: 343px;
    .titleSection {
      button {
        width: 116px;
        height: 32px;
        padding: 4px 12px;
        margin-top: 32px;
      }
      .reCompareBtn {
        button {
          width: 128px;
          height: 32px;
          padding: 4px 12px;
          margin-top: 32px;
        }
      }
    }
    .sectionTitle {
      font: var(--textB);
      margin-top: 32px;
    }
    .outerBox {
      width: 343px;
      height: 180px;
    }
    .selectBox {
      width: 311px;
      height: 148px;
    }
    .selectedBox {
      width: 343px;
      height: 180px;
    }
    .cancelBtn {
      font: var(--textXs);
    }
    .plusTxt {
      font: var(--textSM);
    }
  }
}
