.compareBtn {
  display: flex;
  justify-content: center;
  margin-top: 24px; // 선택사항

  button {
    width: 183px;
    height: 48px;
    border-radius: 50px;

    padding: 13px 48px;
    margin-bottom: 200px;

  }
}

.investBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
  button {
    margin-bottom: 200px;
  }
}
