.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  button {
    text-align: center;
    border: none;
    background-color: var(--black100);
    border-radius: 10px;
    cursor: pointer;
    color: var(--gray200);
    font: var(--textL);
    width: 48px;
    height: 48px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      color: var(--gray200);
    }
    &.active {
      background-color: var(--brandOrange);
      color: var(--white);
    }
  }
}
/* 모바일 미디어 쿼리 */
@media (max-width: 744px) {
  .pagination {
    button {
      width: 32px;
      height: 32px;
      font: var(--textS);
    }
  }
}
