.main {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 24px;

  gap: 40px;
  .totalMoney {
    display: flex;
    margin-top: 20px;
    font: var(--textXlB);
    margin-bottom: 20px;
  }
  .header {
    width: 100%;
    height: 40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
  }
  .investBtn {
    width: 131px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    border-radius: 50px;
    background-color: var(--brandOrange);
    color: var(--white);
    font: var(--text);
    border: none;
    padding: 13px 48px;

    &:active {
      background-color: var(--gray500);
    }
  }

  .emptyState {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray200);
    font: var(--textXs);
    min-height: 200px;
    width: 100%;
  }

  @media (max-width: 744px) {
    .totalmMoney {
      font: var(--textLB);
      margin-bottom: 20px;
    }

    .investBtn {
      width: 97px;
      height: 32px;
      font: var(--textSSb);
    }
  }
}
